
<div class="row-fluid">
  <div class="span3"><img src="{{img}}" class="img-polaroid"/></div>
  <div class="span4">
    <h3>{{lastName}} {{firstName}}</h3>
    <p>Promo: {{promo}}</p>
    <p>Chambre: {{room}}</p>
    <p>Ajouté le: {{dateAdded}}</p>
    <p>Dernière connexion le: {{lastConnexion}}</p>
  </div>
  <div class="row-fluid">
    <h4>Autorisations en attente:</h4>
    <h4>Machines:</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Alias</th>
          <th>IP</th>
          <th>Mac</th>
          <th>Date ajout</th>
          <th>Type</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="7"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>